<a href="https://colab.research.google.com/github/ajaypranavcg/course_MLzoomcamp/blob/main/ML_Zoom_Camp_homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
'''
Question 1
What's the version of NumPy that you installed?
'''
np.__version__

'1.19.5'

In [ ]:
'''
Question 2
What's the version of Pandas?
'''

pd.__version__

'1.1.5'

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [ ]:
#Mean for BMW
'''
Question 3
What's the average price of BMW cars in the dataset?
'''
df[df['Make']=='BMW']['MSRP'].mean()

61546.76347305389

In [ ]:
df[df['Make']=='BMW'].agg({'MSRP':'mean'})
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [ ]:
# Missing values after year>= 2015

'''
Question 4
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?
'''

df[df['Year']>=2015]['Engine HP'].isna().sum()
df[(df['Year']>=2015) & (df['Engine HP'].isna()==True)].count()
df[(df['Year']>=2015) & (df['Engine HP'].isna())].count()

51

In [ ]:
'''
Question 5
Calculate the average "Engine HP" in the dataset.
Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
Now, calcualte the average of "Engine HP" again.
Has it changed?
Round both means before answering this questions. You can use the round function for that:
'''

In [ ]:
mean_hp_before=df['Engine HP'].mean()
df['New_engine_hp']=df['Engine HP'].fillna(df['Engine HP'].mean())
mean_hp_after=df['New_engine_hp'].mean()
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

In [ ]:
'''
Question 6
Select all the "Rolls-Royce" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
What's the sum of all the elements of the result?
Hint: if the result is negative, re-read the task one more time
'''

In [ ]:
X=np.array(df[df['Make']=='Rolls-Royce'][['Engine HP','Engine Cylinders','highway MPG']].drop_duplicates(),dtype=int)
XTX=X.T.dot(X)
np.linalg.inv(XTX)
np.sum(np.linalg.inv(XTX))

0.032212320677486125

In [ ]:
'''
Questions 7
Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?.
Note: You just implemented linear regression. We'll talk about it in the next lesson.
'''

In [ ]:
y=np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
XTXinv=np.linalg.inv(XTX)
w=(np.linalg.inv(XTX).dot(X.T)).dot(y)

In [ ]:
w

array([ 0.19989598, 31.02612262, 31.65378877])